BasedOnStyle: LLVM
IndentWidth: 8
ColumnLimit: 0
UseTab: ForIndentation
BreakBeforeBraces: Linux
Cpp11BracedListStyle: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
SpaceAfterCStyleCast: true
IndentCaseLabels: true
IndentWrappedFunctionNames: false
#IndentGotoLabels: false
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
SortIncludes: false
#AlwaysBreakAfterDefinitionReturnType: TopLevel
#AlwaysBreakAfterReturnType: TopLevelDefinitions
FixNamespaceComments: true
BreakBeforeBinaryOperators: None
