*~
aclocal.m4
autom4te.cache
compile
config/ar-lib
config.cache
config.guess
config.h
config.h.in
config.log
config/ltmain.sh
config.status
config.sub
configure
depcomp
.deps
.dirstamp
install-sh
Makefile
Makefile.in
man/Makefile.in
missing
*.o
src/Makefile.in
stamp-h1
TAGS
test-driver
tests/_build
tests/*.log
tests/*.trs
